html, body {
    height: 98%;
    width: auto;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, Helvetica, sans-serif;
    background-color: #BC986A;
  }
/* 
  green #8D8741
  blue #659DBD
  beige #DAAD86
  dark beige #BC986A
  toupe #FBEEC1 */

  /*
  beach blue #049DD9
  lighter blue #04B2D9
  */

.banner  {
    display: flex;
    color: rgb(233, 222, 72);
    text-shadow: 1px 1px #2d609b, 
        2px 2px #97952c, 
        3px 3px #6e6d13;
        flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    background-color: #000000;
    background-image: url(../images/header_transparent.png); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 99%;
    height:12%;
    padding: .2em;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 4px;
    
}

.banner__header {
    overflow: hidden;
}

.container__form__login {
    display: flex;
    color: #e6e3d9;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-image: url(../images/field.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e6e3d9;
    width: 99%;
    height:80%;
    margin: 0 auto 4px auto;
    border: 2px solid #ccc;
    border-radius: 4px;
    opacity: 1;

}


.container__form__frost {
    display: flex;
    flex-flow: column;
    width: 40%;
    align-self: center;
    background: inherit;
    width: 250px;
    height: 350px;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    

}

.container__form__frost:after{
    content: '';
    width: 300px;
    height: 300px;
    background: inherit; 
    position: absolute;
    left: -25px;
    left position
    right: 0;
    top: -25px;  
    top position 
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    box-sizing: border-box;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 10px;
    filter: url('#blur');
    filter: blur(20px);
    margin: 10px;
    padding: 10px;
}

.div__form__login {
    position: relative;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
}

.form__login {
    border-radius: 10px;
}


.form__login__buttons {
    display: flex;
    flex-flow: row;
    justify-items: center;
    width: auto;
    justify-content: space-around;
    border-radius: 10px;
}

.container__main {
    display: flex;
    color: dimgrey;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e6e3d9;
    width: 99%;
    height:80%;
    margin: 0 auto 4px auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.container__main > * {
    z-index: 100;
}
.container__main > div {
    margin: 1vh 1vw;
}

.container__main__middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 4 0 0;
    width: 98%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.container__main__left, .container__main__right {
    flex: 2.5 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

}
.container__main__left > div {
    margin: 1vh 1vw;
}

.messages__header, .news__header, .friends__header, .events__header, 
.news__header, .tasks__header {
    height: 1.1em;
    display: flex;
    justify-content: space-between;
    margin: 1vh 1vw;
    
}

.container__main__left--messages {
    flex: 2 0 0;
    margin: 5px 3px 5px 3px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}


.container__messages--saved {
    flex: 6 0 0;
    margin: 5px 3px 5px 3px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    overflow: auto;
}



.container__main__middle--news {
    display: flex;
    flex-flow: column nowrap;
    flex: 7 0 0;
    margin: 5px 3px 5px 3px;
    margin-bottom: 5px;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

}

.container__main__middle--friends {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
    justify-content: space-evenly;
    flex: 4 0 0;
    height: 100%;
    width: auto;
    margin: 5px 3px 5px 3px;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

}

.container__main__right--events, .container__main__right--tasks {
    flex: 4 0 0;
    margin: 5px 3px 5px 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    overflow: auto;

}

input, select, button {
    background-color: #FBEEC1;
    border-radius: 5px;
    border: 1px solid #8D8741;
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  }

.button {
    font-size: .7em;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

}

.container__footer {
    display: flex;
    color: dimgrey;
    flex-flow: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/walnut-nut-harvest-nuts.png); 
    margin: 0 auto 0 auto;
    width: 99%;
    height:10%;
    padding: 0 .5em .5em .5em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    justify-content: center;
    background-color: "";
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  }


  .section__itemCard {
    flex: 1 0 21%;
    flex-basis: 21%;
    font-size: .8em;
    box-sizing: border-box;
    box-shadow:0 2px 6px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    margin: 2px 2px 2px 2px;
    border-radius: 5px;
  }
 
  .header__itemCard {
   display: flex;
   justify-content: space-between;
   font-size: 1em;
   font-weight: 600;
   color:#201b22;
   background-color:#FBEEC1;
   margin: 0 2px;
  }
 
  .section__itemCard > p {
   font-size: .8em;
   padding:0.01em 3px;
   margin: 2px 2px 2px 5px;
  }

  .header__itemCard button {
      font-size: .8em;
  }

  .hidden {
      display: none;
}
